<button class="open-button">
    <a style="color : white" href="<%= restUrl%>chatGroup">Chat</a>
</button>

<script>
    function openForm() {
        document.getElementById("myForm").style.display = "block";
    }

    function closeForm() {
        document.getElementById("myForm").style.display = "none";
    }
</script>